### OSX ###
.DS_Store

### Intellij ###
.idea/
/out/

### Rails ###
*.orig
*.rbc
.rspec
/coverage/
/public/system
/spec/tmp
capybara-*.html
pickle-email-*.htmlP
rerun.txt

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
